{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <div class="overflow-hidden pattren-1">
        <div class="container content-space-t-1 content-space-b-3">
            <div class="row justify-content-lg-between align-items-md-center">
                <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
                    <!-- Heading -->
                    <div class="mb-5">
                        <span class="text-cap">{% translate 'КТО МЫ?' %}</span>
                        <h2 class="mb-3">{{ config.company_name }}</h2>
                        {% if LANGUAGE_CODE == 'ru' %}
                            <p class="lead">{{ config.home_page_about_ru }}</p>
                        {% else %}
                            <p class="lead">{{ config.home_page_about_kz }}</p>
                        {% endif %}
                    </div>

                    <div class="d-grid d-sm-flex gap-3">
                        <a class="btn btn-primary btn-transition" href="#caseStudies">{% translate 'подробнее' %}</a>
                        <a class="btn btn-link" href="#">{% translate 'подробнее' %} <i class="bi-chevron-right small ms-1"></i></a>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-md-6">
                    <div class="position-relative">
                        {% get_media_prefix as MEDIA_URL %}
                        {% if config.big_pic_home %}
                            <img class="img-fluid rounded-2" src="{{ MEDIA_URL }}{{ config.big_pic_home }}" alt="Image Description" style="width: 100%;filter: brightness(92%);">
                        {% else %}
                            <img class="img-fluid rounded-2" src="/static/images/bg4.jpg" alt="Image Description" style="width: 100%;filter: brightness(92%);">
                        {% endif %}

                        <div class="position-absolute top-0 end-0 w-100 h-100 bg-soft-primary rounded-2 zi-n1 mt-5 me-n5"></div>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
    </div>

    <!-- Card Grid -->
    <div class="container-fluid bg-light">
        <div class="container content-space-2 content-space-lg-1">

            <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-3">
                {% for instance in products %}
                    <div class="col mb-4">
                        <!-- Card -->
                        <div class="card card-bordered shadow-none text-center h-100">
                            <div class="card-pinned product-card">
                                <img class="card-img-top" src="{{ instance.images.all.0.url }}" alt="Image Description">
                                {% if instance.new %}
                                    <div class="card-pinned-top-start">
                                        <span class="badge bg-success rounded-pill">{% translate 'Новый' %}</span>
                                    </div>
                                {% endif %}

                            </div>

                            <div class="card-body">
                                <a class="text-body link" href="{% url 'product_detail' product_id=instance.id %}">{% locale instance.name instance.name_kk %}</a>
                                <div class="mb-1">
                                    <small><a class="link-sm link-secondary" href="#">{% locale instance.category.name instance.category.name_kk %}</a></small>
                                </div>
                                <p class="card-text text-dark">{{ instance.price }} тг</p>
                            </div>

                            <div class="card-footer pt-0">
                                <a type="button" href="{% url 'product_detail' product_id=instance.id %}" class="btn btn-outline-primary btn-sm rounded-pill">{% translate 'подробнее' %}</a>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                {% endfor %}
                <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="text-center">
                <a class="btn btn-outline-primary btn-transition rounded-pill" href="/all_products">{% translate 'Посмотреть все товары' %}</a>
            </div>
        </div>
    </div>

    <!-- End Card Grid -->

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-1">

        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h2>{% translate 'Каталог' %}</h2>
        </div>

        <div class="row mb-2">
            {% for category in categories %}
                <div class="col-sm-6 col-md-4 mb-4">
                    <!-- Card -->
                    <div class="card card-bordered shadow-none overflow-hidden h-100">
                        <div class="card-body d-flex align-items-center border-bottom p-0 ">
                            <div class="w-100 border-end product-card">
                                <img class="img-fluid" src="{{ category.thumbnail.url }}" alt="Image Description">
                            </div>
                        </div>

                        <div class="card-footer text-center">
                            <h5 class="card-title">{% locale category.name category.name_kk %}</h5>
                            <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="/all_products/{{ category.id }}">{% translate 'Посмотреть все' %}</a>
                        </div>
                    </div>
                    <!-- End Card -->
                </div>
            {% endfor %}
        </div>
        <!-- End Row -->
    </div>
    <!-- End Card Grid -->

    <!-- Icon Blocks -->
    <div class="border-bottom d-none">
        <div class="container content-space-2">
            <div class="row">
                <div class="col-md-4 mb-7 mb-md-0">
                    <!-- Icon Block -->
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="avatar avatar-4x3" src="/static/assets/svg/illustrations/oc-protected-card.svg" alt="Image Description">
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-1">{% translate 'превосходное качество' %}</h4>
                            <p class="small mb-0">Guaranteed safe checkout</p>
                        </div>
                    </div>
                    <!-- End Icon Block -->
                </div>
                <!-- End Col -->

                <div class="col-md-4 mb-7 mb-md-0">
                    <!-- Icon Block -->
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="avatar avatar-4x3" src="/static/assets/svg/illustrations/oc-return.svg" alt="Image Description">
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-1">30 Days return</h4>
                            <p class="small mb-0">We offer you a full refund within 30 days of purchase.</p>
                        </div>
                    </div>
                    <!-- End Icon Block -->
                </div>
                <!-- End Col -->

                <div class="col-md-4">
                    <!-- Icon Block -->
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="avatar avatar-4x3" src="/static/assets/svg/illustrations/oc-truck.svg" alt="Image Description">
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-1">Free shipping</h4>
                            <p class="small mb-0">Automatically receive free standard shipping on every order.</p>
                        </div>
                    </div>
                    <!-- End Icon Block -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Icon Blocks -->


{% endblock %}